# Open API interface for REAR API.

openapi: "3.1.0"
tags:
  - name: REAR
    description: REsource Advertisement and Reservation protocol.

info:
  title: REAR
  description: The REAR protocol facilitates the advertisement, reservation, and utilization of resources and services by various entities such as cloud providers and customers.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    name: REAR API
    url: https://github.com/topix-hackademy/Rear/
  version: 2.0.0
  
servers: 
  - url: http://127.0.0.1:5000
    description: Development server

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  
paths:
  /api/v2/flavors:
    get:
      summary: List all available flavors
      description: Returns a list of all available flavors.
      operationId: listFlavors
      security:
        - BearerAuth: []
      responses:
        '200':
          description: A JSON array of flavors
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  $ref: 'https://raw.githubusercontent.com/fluidos-project/REAR-data-models/master/models/schemas/flavor.json'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

  /api/v2/flavors/k8slices:
    get:
      summary: List all available flavors for Kubernetes
      description: Returns a list of all available flavors for Kubernetes.
      operationId: listFlavorsK8s
      security: 
        -  BearerAuth: []
      parameters:
        - in: query
          name: filter
          schema:
            type: object
            properties:
              cpu:
                type: object
                oneOf:
                  - properties:
                      exact:
                        type: integer
                  - properties:
                      range:
                        type: object
                        properties:
                          min:
                            type: integer
                          max:
                            type: integer
              memory:
                type: object
                oneOf:
                  - properties:
                      exact:
                        type: integer
                  - properties:
                      range:
                        type: object
                        properties:
                          min:
                            type: integer
                          max:
                            type: integer
              gpu:
                type: object
                oneOf:
                  - properties:
                      exact:
                        type: integer
                  - properties:
                      range:
                        type: object
                        properties:
                          min:
                            type: integer
                          max:
                            type: integer
              storage:
                type: object
                oneOf:
                  - properties:
                      exact:
                        type: integer
                  - properties:
                      range:
                        type: object
                        properties:
                          min:
                            type: integer
                          max:
                            type: integer
          description: Filter parameters
      responses:
        '200':
          description: A JSON array of flavors                      
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  $ref: 'https://raw.githubusercontent.com/fluidos-project/REAR-data-models/master/models/schemas/flavor.json'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

  /api/v2/flavors/vms:
    get:
      summary: List all available flavors for Virtual Machines
      description: Returns a list of all available flavors for Virtual Machines.
      operationId: listFlavorsVMs
      security: 
        -  BearerAuth: []
      parameters:
        - in: query
          name: filter
          schema:
            type: object
            properties:
              architecture:
                type: string
              cpu:
                type: object
                oneOf:
                  - properties:
                      exact:
                        type: integer
                  - properties:
                      range:
                        type: object
                        properties:
                          min:
                            type: integer
                          max:
                            type: integer
              memory:
                type: object
                oneOf:
                  - properties:
                      exact:
                        type: integer
                  - properties:
                      range:
                        type: object
                        properties:
                          min:
                            type: integer
                          max:
                            type: integer
              gpu:
                type: object
                oneOf:
                  - properties:
                      exact:
                        type: integer
                  - properties:
                      range:
                        type: object
                        properties:
                          min:
                            type: integer
                          max:
                            type: integer
              storage:
                type: object
                oneOf:
                  - properties:
                      exact:
                        type: integer
                  - properties:
                      range:
                        type: object
                        properties:
                          min:
                            type: integer
                          max:
                            type: integer
          description: Filter parameters
      responses:
        '200':
          description: A JSON array of flavors                      
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  $ref: 'https://raw.githubusercontent.com/fluidos-project/REAR-data-models/master/models/schemas/flavor.json'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  
  /api/v2/flavors/sensors:
    get:
      summary: List all available flavors for Sensors
      description: Returns a list of all available flavors of type Sensor.
      operationId: listFlavorsSensors
      security: 
        -  BearerAuth: []
      parameters:
        - in: query
          name: filter
          schema:
            type: object
            properties:
              sensor_type:
                type: string
              sensor_model:
                type: string
              sensor_manufacturer:
                type: string
              sampling_rate:
                type: object
                oneOf:
                  - properties:
                      exact:
                        type: integer
                  - properties:
                      range:
                        type: object
                        properties:
                          min:
                            type: integer
                          max:
                            type: integer
          description: Filter parameters
      responses:
        '200':
          description: A JSON array of flavors                      
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  $ref: 'https://raw.githubusercontent.com/fluidos-project/REAR-data-models/master/models/schemas/flavor.json'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

  /api/v2/flavors/{flavor_id}/reservation:
    post:
      summary: Reserve a flavor
      description: Reserves a flavor for a specific time period.
      operationId: reserveFlavor
      security: 
        -  BearerAuth: []
      parameters:
        - in: path
          name: flavor_id
          required: true
          schema:
            type: string
          description: The ID of the flavor to reserve
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ../schemas/reservation.schema.json
      responses:
        '200':
          description: The reservation was successful, a transaction is returned
          content:
            application/json:
              schema:
                $ref: ../schemas/transaction.schema.json
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Flavor not found
        '409':
          description: Flavor already reserved
    
  /api/v2/transactions/{transaction_id}/purchase:
    post: 
      summary: Purchase a flavor
      description: Purchases a specific flavor previously reserved associated with a transaction.
      operationId: purchaseFlavor.
      security: 
        -  BearerAuth: []
      parameters:
        - in: path
          name: transaction_id
          required: true
          schema:
            type: string
          description: The ID of the transaction related to a flavor reservation.
      responses:
        '200':
          description: The purchase was successful, a transaction is returned
          content:
            application/json:
              schema:
                $ref: ../schemas/contract.schema.json
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Transaction not found
        '409':
          description: Transaction already completed